{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block side_bar_after_nav %}
    <ul class="sidebar-menu">
        <li>
            <a href="{{ path('settings') }}">
                <i class="fa fa-cogs"></i>
                <span>Settings</span>
            </a>
        </li>
        <li class="treeview">
            <a href="https://docs.google.com/a/brodev.com/document/d/1gzLSg34nCQsuVyMSjGJrBJ7y6tA_btW9uEDw5Za5SNM/edit?usp=drive_web"
            target="_blank">
                <i class="fa fa-file"></i>&nbsp;Metrics Hub Manual
            </a>
        </li>
    </ul>
{% endblock %}