<script>
    var chartData = [];
    var yLegend = [];
    var yFrom = [];
    var yTo = [];

    {% if objectType == 'keyResult' %}
        chartData.push(JSON.parse('{{ object.getUpdateList() | json_encode | raw }}'));
        yLegend.push('{{ object.name  }} ({{ object.unit }})');
        yFrom.push({{ object.from }});
        yTo.push({{ object.to }});
    {% else %}
        {# Objective #}
        {% for keyResult in object.keyResults %}
            chartData.push(JSON.parse('{{ keyResult.getUpdateList() | json_encode | raw }}'));
            yLegend.push('{{ keyResult.name  }} ({{ keyResult.unit }})');
            yFrom.push({{ keyResult.from }});
            yTo.push({{ keyResult.to }});
        {% endfor %}
    {% endif %}
</script>

<div class="box box-primary">
    <div class="box-header">
        <h4 class="box-title">
            Chart
        </h4>
    </div>
    <div class="box-body table-responsive no-padding">
        <div style="width: 600px; height: 310px;">
            <canvas id="obj-chart"></canvas>
        </div>

        {% if objectType != 'keyResult' %}
            {# Objective #}
            <div>
            {% for keyResult in object.keyResults %}
                <button data-chart-index="{{ loop.index0 }}" class="btn btn-default switch-chart-button">{{ keyResult.name }}</button>
            {% endfor %}
            </div>
        {% endif %}
    </div>
</div>