{% if keyResults %}
    <ul>
    {% for keyResult in keyResults %}
        <li><a target="_blank" href="{{ url('admin_okr_keyresult_edit', {id: keyResult.id}) }}"
               data-toggle="tooltip" data-placement="top" data-html="true" title="{{ keyResult.getTooltip(objective) }}"
            >{{ keyResult }}</a></li>
    {% endfor %}
    </ul>
{% endif %}