<html>
<head>
    <script src="{{ asset('bundles/sonataadmin/vendor/jquery/dist/jquery.min.js') }}"></script>
    <script>
        function notify(message) {
            $('#content').html(message);
        }

        function updateImage(src) {
            $('#content').html('<img class="item" src="{{ web_root }}files/items/' + src + '" />');
        }
    </script>
    <style type="text/css">
        #content .item {
            width: 100%;
        }
    </style>
</head>
<body style="padding: 0; margin: 0;">
<div id="content">
    <img class="item" src="{{ web_root ~ 'files/items/' ~ item.id ~ '.png' }}?{{ date().timestamp }}"/>
</div>
</body>
</html>
