<a href="{{ path('alert_notify', {code: object.code, isTest: 1}) }}" target="_blank" class="btn btn-sm btn-default">Test URL</a>
<a href="{{ path('alert_notify', {code: object.code, isTest: 0}) }}" target="_blank" class="btn btn-sm btn-default" onclick="return confirm('Are you sure?');">Make Call</a>
