{% extends '@SonataAdmin/CRUD/base_show.html.twig' %}

{# Default don't show chart #}
{% set showKRChart = false %}

{# Check if this is goal object #}
{% if object is instanceof('\\OKRBundle\\Entity\\Goal') %}
    {% set objectType = 'goal' %}
    {% set showDesign = true %}
{% elseif object is instanceof('\\OKRBundle\\Entity\\Objective') %}
    {% set showKRChart = true %}
    {% set objectType = 'objective' %}
    {% set showDesign = true %}
{% else %}
    {% set showDesign = false %}
{% endif %}

{# Check if this is key result object #}
{% if object is instanceof('\\OKRBundle\\Entity\\KeyResult') %}
    {% set showKRChart = true %}
    {% set objectType = 'keyResult' %}
{% endif %}

{# Not show design block if ajax mode #}
{% if base_template != 'AppBundle::standard_layout.html.twig' %}
    {% set showDesign = false %}
    {% set showKRChart = false %}
{% endif %}

{% block show %}
    {% if showKRChart and showDesign %}
        <div class="row">
            <div class="col-md-6">
                {{ parent() }}
            </div>
            <div class="col-md-6">
                {% include '@OKR/Admin/KeyResult/chart.html.twig' with {object: object, objectType: objectType} only %}
            </div>
        </div>

        {% include 'OKRBundle:Admin/Goal:design.html.twig' %}

    {% else %}
        {{ parent() }}

        {% if showKRChart %}
            {% include '@OKR/Admin/KeyResult/chart.html.twig' with {object: object, objectType: objectType} only %}
        {% endif %}

        {% if showDesign %}
            {% include 'OKRBundle:Admin/Goal:design.html.twig' %}
        {% endif %}
    {% endif %}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% if showDesign %}
        <link rel="stylesheet" href="{{ asset('assets/js/jquery-ui-1.12.1.custom/jquery-ui.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/styles/goal_design.css') }}">
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if showDesign %}
        <script src="{{ asset('assets/js/jquery-ui-1.12.1.custom/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.mjs.nestedSortable.js') }}"></script>
        <script src="{{ asset('assets/js/js.cookie-2.2.0.min.js') }}"></script>
        <script src="{{ asset('bundles/okr/goal_design.js') }}"></script>
    {% endif %}

    {% if showKRChart %}
        <script src="{{ asset('bower_components/moment/min/moment.min.js') }}"></script>
        <script src="{{ asset('bower_components/chart.js/dist/Chart.min.js') }}"></script>
        <script src="{{ asset('bower_components/chartjs-plugin-datalabels/dist/chartjs-plugin-datalabels.min.js') }}"></script>
        <script src="{{ asset('bundles/okr/chart.js') }}"></script>
    {% endif %}

{% endblock %}