<section>
    <div class="col-sm-12 hide-on-screen">
        <div class="col-sm-6">
            <h1>{{ board.name }}</h1>
        </div>
        <div class="col-sm-6">
            <div style="text-align: right; margin-top: 10px;">Last Updated: {{ board.updatedAt | date('r') }}
                <a class="btn btn-primary" href="{{ path('board_view', { id: board.id, refresh: 1 }) }}">Refresh</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 board-wrapper">
        {% if board.isIframe %}
            <iframe class="iframe-board" src="{{ board.frameUrl }}"></iframe>
        {% elseif board.getServiceStatus() %}
            {% for service in board.services %}
                {% include '@App/Board/service.html.twig' %}
            {% endfor %}
        {% else %}
            {% for item in board.items %}
                {% include '@App/Board/item.html.twig' %}
            {% endfor %}
        {% endif %}
    </div>
</section>