<div class="col-sm-{{ item.size }}">
    <h3>
        {{ item.name }}
        <a class="btn btn-default hide-on-screen" href="{{ item.url }}" target="_blank">View</a>
    </h3>

    <div style="width: 100%; height: 300px; overflow: hidden;" class="screen-line-resize">
        <iframe src="{% if item.type == 'modeanalytics' %}{{ item.url }}{% else %}{{ path('item_show', {id: item.id}) }}{% endif %}"
                width="100%" height="300" frameborder="0"
                style="border: 1px solid black; background: white;" class="screen-line-resize"></iframe>
    </div>
</div>