{% extends '@SonataAdmin/empty_layout.html.twig' %}

{% block sonata_head_title %}Beeketing Public Screen{% endblock %}

{% block body_attributes %}class="screen"{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('assets/styles/screen.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/styles/view_board.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('assets/js/screen.js') }}"></script>
{% endblock %}

{% block sonata_page_content %}
    <div id="screen-carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            {% for board in boards %}
                <li data-target="#screen-carousel" data-slide-to="{{ loop.index0 }}"
                {% if loop.index0 == 0 %}class="active"{% endif %}></li>
            {% endfor %}
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

            {% for board in boards %}
                {% if board.iframe %}
                    {% set type = 'iframe' %}
                {% elseif board.serviceStatus %}
                    {% set type = 'service_status' %}
                {% else %}
                    {% set type = 'items' %}
                {% endif %}
                <div data-screen="{{ loop.index0 }}" data-board-type="{{ type }}" class="screen-item item {% if loop.index0 == 0 %}active{% endif %}">
                    {{ include('@App/Board/board.html.twig', { 'board': board }) }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}