{% set listStatus = get_list_status(service, 'automation_test', env) %}
{% set url = path('admin_ph_testsuite_list', { 'filter[service][value]': service.id, 'filter[env][value]': env, 'filter[active][value]': true }) %}

<div class="col-md-6 service-block">
    <div class="bg {% if listStatus.isAllSuccess() %} success {% else %} failure {% endif %}">
        <b>Test {{ env | capitalize }}</b>
        <div class="wrapper">
            <span>
                <a href="{{ url }}" target="_blank">
                    {{ listStatus.success }} / {{ listStatus.total }}
                </a>
            </span>
        </div>
    </div>
</div>