<div class="col-md-2">
    <h3>
        {{ service.name |length > 20 ? service.name | slice(0, 21) : service.name }}
    </h3>

    <div class="row">
       {% include '@App/Board/service_block.html.twig' with { service: service, type: 'automation_test', env: 'staging' } only %}
       {% include '@App/Board/service_block.html.twig' with { service: service, type: 'automation_test', env: 'prod' } only %}
    </div>

</div>