{% extends '@SonataAdmin/empty_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('assets/styles/view_board.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block sonata_head_title %}{{ board.name }}{% endblock %}

{% block body_attributes %}{% endblock %}

{% block sonata_page_content %}
    {% include '@App/Board/board.html.twig' %}
{% endblock %}