{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}

    {% set status = get_job_status(object) %}
    {% set url = path('admin_ph_build_list', { 'filter[job][value]': object.id }) %}

    <a href="{{ url }}">
        {% include '@PH/Admin/status_image.html.twig' with { status: status } only %} {{ status }}
    </a>
    {% if status != 'SUCCESS' %}
        {% set lastSuccess = get_job_last_success(object) %}
        {% if lastSuccess %}
            (Last success: {{ lastSuccess }})
        {% endif %}
    {% endif %}
{% endblock %}