{% if status == 'NONE' %}
    {% set status = 'FAILURE' %}
{% endif %}

{% if status == 'BUILDING' %}
    {% set ext = 'gif' %}
{% else %}
    {% set ext = 'png' %}
{% endif %}

<img width="16" src="{{ asset('bundles/ph/images/' ~ status | lower ~ '.' ~ ext) }}" alt="{{ status }}" />