{% extends '@App/standard_layout.html.twig' %}
{% block sonata_head_title %}
    Admin - Settings Global
{% endblock %}
{% block sonata_breadcrumb %}
    <div class="hidden-xs">
        <ol class="nav navbar-top-links breadcrumb">
            <li>
                <a href="/admin/dashboard">Dashboard</a>
            </li>
            <li>
                <a href="/settings">Settings</a>
            </li>
            <li class="active"><span>Settings Global</span></li>
        </ol>
    </div>
{% endblock %}
{% block sonata_page_content %}
    <section>
        <div class="col-sm-12">

            <h1>{% trans from 'settings_global' %}Settings Global{% endtrans %}</h1>

            <form method="post" id="settings-form">
                {{ number }}

                <input type="submit" value="{% trans from 'settings_global' %}Save{% endtrans %}" />
            </form>

        </div>
    </section>
{% endblock %}
