<a href="{{ path('admin_ph_testsuite_list', { 'filter[service][value]': object.id }) }}" class="btn btn-sm btn-default">Test
    Suites</a>
<a href="{{ path('admin_ph_repo_list', { 'filter[services][value]': object.id }) }}" class="btn btn-sm btn-default">Repos</a>
<a href="{{ path('admin_ph_job_list', { 'filter[services][value]': object.id }) }}"
   class="btn btn-sm btn-default">Jobs</a>
<a href="{{ path('admin_service_run_test', { serviceId: object.id, env: 'staging' }) }}" class="btn btn-sm btn-default">Queue
    Run Tests STAGING</a>
<a href="{{ path('admin_service_run_test', { serviceId: object.id, env: 'prod' }) }}" class="btn btn-sm btn-default">Queue
    Run Tests PROD</a>
