{%- set envs = ['staging', 'prod'] -%}
{%- set configLink = absolute_url(path('admin_app_schedule_edit', { id: schedule.id })) -%}

{%- for service in schedule.board.services %}
{{ loop.index }}. {{ service.name }}
  {% for env in envs %}
  {% set listStatus = get_list_status(service, 'automation_test', env) %}
  {%- set url = absolute_url(path('admin_ph_job_list', {
        'filter[services][value]': service.id,
        'filter[type][value]': 'automation_test',
        'filter[env][value]': env
    })) -%}
  - Test {{ env | capitalize }}: {% if listStatus.isAllSuccess() %}Success{% else %}*FAILURE*{% endif %} (<{{ url }}|{{ listStatus.success }}/{{ listStatus.total }}>)
  {% endfor %}
{% endfor -%}

{% for user in schedule.mentionUsers %}{% if user.slackId %}<@{{ user.slackId }}> {% endif %}{% endfor %}(<{{ configLink }}|config>)