<a class="btn btn-sm" href="{{ path('board_view', {id: object.id}) }}" target="_blank">View</a>
<a class="btn btn-sm" href="{{ path('admin_app_item_list', {'filter[board][value]': object.id}) }}">Items</a>
<a class="btn btn-sm" href="{{ path('admin_app_schedule_list', {'filter[board][value]': object.id}) }}">Schedules</a>
