<a class="btn btn-sm"
   href="https://modeanalytics.com/beeketing/reports/0748e209e894?param_funnel_name={{ object.name }}&param_from_date={{ "7 days ago"|date("Y-m-d") }}&param_to_date={{ "now"|date("Y-m-d") }}"
   target="_blank">View Chart</a> <a class="btn btn-sm" href="{{ admin.generateObjectUrl('duplicate', object) }}">Duplicate</a>
