{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div>
        <a href="{{ object.url }}" target="_blank">
            <img src="{% if object.imgUrl %}{{ object.imgUrl }}{% else %}http://via.placeholder.com/50x50{% endif %}" style="max-width: 150px; max-height: 150px;"/>
        </a>
    </div>
{% endblock %}