{% extends '@App/standard_layout.html.twig' %}

{% block sonata_page_content %}
<section>
<div class="col-sm-12">

<h1>{% trans from 'settings' %}Settings{% endtrans %}</h1>

<form method="post" id="settings-form" {{ form_enctype(settings_form) }}>
    {{ form_widget(settings_form) }}

    <input type="submit" value="{% trans from 'settings' %}Save{% endtrans %}" />
</form>

</div>
</section>
{% endblock %}