<a href="{{ path('admin_ph_job_list', { 'filter[repos][value]': object.id }) }}" class="btn btn-sm btn-default">Jobs</a>
<a href="{{ object.link }}" class="btn btn-sm btn-default" target="_blank">Source Code</a>
