#object-list-holder {
    background-image: url('../../images/okr-bg.png');
    background-repeat: repeat-y;
    padding-left: 0;
}

#object-list-holder li {
    min-height: 36px;
}

#design-header {
    /*margin-left: 40px;*/
}

.objective-wrapper {
    width: 100%;
    height: 36px;
    line-height: 36px;
    padding: 0 8px;
    display: inline-block;
    border: 1px solid black;
    background: white;
}

.objective-wrapper.expanded {
    height: 200px;
}

.objective-wrapper .extra {
    display: none;
}

.objective-wrapper.expanded .extra {
    display: inline;
}

.objective-wrapper.odd {
    background: #f4f4f4;
}

.objective-wrapper .item {
    display: block;
    margin: 0;
    float: left;
}

.objective-wrapper .name {
    width: auto;
    min-width: 200px;
}

.objective-wrapper .name:focus {
    outline: none;
    border: 0;
}

#edit-modal .modal-dialog {
    width: 80%;
}

.sortable-placeholder {
    height: 30px;
    width: 60px;
    background: yellow;
}

.drag-helper {
    width: 38px !important;
    height: 32px !important;;
    padding: 2px !important;;
    margin: 0 !important;;
}

ol {
    list-style: none;
}

.zoomed-out ol {
    display: none;
}

.wrapper-items {
    line-height: 30px;
}

@media only screen and (min-width: 1440px) {
    .wrapper-items {
        width: 705px;
    }
}

@media only screen and (max-width: 1440px) {
    .wrapper-items {
        width: 600px;
    }
    .actions {
        width: 148px;
        padding: 0;
    }

    /* Fix css break in non-full-hd screen */
    .objective-wrapper .name {
        max-width: 380px;
    }
}

.assignee div {
    width: 145px !important;
}

.select2-container .select2-choice > .select2-chosen {
    margin-right: 0;
}

.contenteditable {
    margin-top: 5px;
}

.block-objective {
    float: left;
}

.objective-progress a,
.result a {
    margin: 0;
}

.result a {
    padding-left: 0px;
    padding-right: 0px;
}

.objective-wrapper-title {
    font-weight: 600;
}

.block-button {
    padding: 0 8px;
    margin-bottom: 24px;
}

.loading-holder {
    position: absolute;
    right: 10px;
    top: 10px;
}

.block-item {
    text-align: center;
}

.block-item.result .tooltip-inner {
    min-width: 240px;
}

.box-header .tooltip-inner {
    min-width: 300px;
}

/* Fix tooltip hidden */
.tooltip {
    position: fixed;
}
