.screen {
    background: black;
    color: white;
}

.screen .carousel {
    min-height: 100vh;
}

.screen .carousel-indicators .active {
    background: #E71D1D;
}

.screen .carousel-indicators li {
    border: 1px solid #E71D1D;
}

.screen h1, .screen h3 {
    color: white;
}

.screen .hide-on-screen {
    display: none;
}

.screen .carousel-inner .screen-item {
    height: 100vh;
}

.screen .carousel-indicators {
    bottom: 0;
}

.screen .board-wrapper {
    padding: 0;
}

.screen .board-wrapper .iframe-board {
    width: 100%;
    height: 100vh;
    border: none;
}