@import "/bundles/sonatacore/vendor/bootstrap/dist/css/bootstrap.min.css";
@import "/bundles/sonatacore/vendor/components-font-awesome/css/font-awesome.min.css";
@import "/bundles/sonatacore/vendor/ionicons/css/ionicons.min.css";
@import "/bundles/sonataadmin/vendor/admin-lte/dist/css/AdminLTE.min.css";
@import "/bundles/sonataadmin/vendor/admin-lte/dist/css/skins/skin-black.min.css";
@import "/bundles/sonataadmin/vendor/iCheck/skins/square/blue.css";
@import "/bundles/sonatacore/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css";
@import "/bundles/sonataadmin/vendor/jqueryui/themes/base/jquery-ui.css";
@import "/bundles/sonataadmin/vendor/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css";
@import "/bundles/sonataadmin/css/styles.css";
@import "/bundles/sonataadmin/css/layout.css";
@import "/bundles/sonataadmin/css/tree.css";

.select2-container{
    display: none;
}
#select-status{
    display: block !important;
}

.select-status{
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.fixed-alert {
    margin-bottom: 0;
    padding: 6px 35px 6px 15px;
}

.box-body > .have-ft-sz > tbody > tr > th ,
.box-body > .have-ft-sz > tbody > tr > td{
    padding: 10px 0px 10px 5px;
    border: 1px solid #eeeeee;
}
.box-body > .have-ft-sz {
    font-size: 18px;
}
.have-ft-sz label, .have-ft-sz tr > th {
    font-size: 16px;
}

.box-header > .box-not-top{
    top:0px !important;
    color:#fff;
}
.box-header.with-bg{
    background: #3c8dbc;
    color:#fff;
    text-align:center;
}
.box-header button > i{
    color:#fff;
}
