.service-block {
    padding-right: 0;
    color: white;
}

.service-block b {
    padding-left: 3px;
    font-size: 15px;
}

.service-block .bg.success {
    background-color: #00a743;
}

.service-block .bg.failure {
    background-color: #d63139;
}

.service-block .wrapper {
    text-align: center;
    line-height: 190px;
}

.service-block span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 40px;
}

.service-block span a {
    color: white;
}

.service-block span a:hover {
    text-decoration: underline;
}

.service-block span .small {
    font-size: 14px;
}

.board-wrapper {
    padding: 0;
}