{# users list #}
{% set userList = get_user_list() %}

{% if objectType == "my" %}
    {% set no_interact = true %}
{% else %}
    {% set no_interact = false %}
{% endif %}

<div class="box box-primary">
    <div class="box-header">
        <h4 class="box-title">
            Goal Design
        </h4>
        <span class="glyphicon glyphicon-info-sign"
              data-toggle="tooltip" data-html="true"  data-placement="top" title="1. This form only save changed fields<br />2. Remember to save before closing<br />3. If objective is a task, use KR `Task`"
        ></span>
        {% if objectType == "my" %}
            <button class="btn btn-primary save-goal-button">Save</button>
        {% endif %}

        {# Loading #}
        <div class="loading-holder">
        <img src="{{ asset('images/spinner.gif') }}" />
        </div>
    </div>
    <div class="box-body table-responsive no-padding">
        <div id="design-header" class="objective-wrapper objective-wrapper-title">
            <div class="block-objective">Objective</div>
            <div class="wrapper-items pull-right">
                {% if no_interact == false %}
                    <div class="block-item block-progress col-md-2">Interact</div>
                {% endif %}
                <div class="block-item block-progress col-md-1">Progress</div>
                <div class="block-item block-results col-md-2">Key Results</div>
                <div class="block-item block-assignee col-md-3">Assignee</div>
                <div class="block-item block-confident col-md-1">Confident</div>
                <div class="block-item block-actions col-md-3">Actions</div>
            </div>
        </div>
        <ol id="object-list-holder" class="sortable">
            {% if objectType == "goal" %}
                {% for obj in object.objectives %}
                    {# This is root so we only show no parent #}
                    {% if obj.parent is null %}
                        {% include 'OKRBundle:Admin/Goal:objective.html.twig' with {obj: obj} %}
                    {% endif %}
                {% endfor %}
            {% elseif objectType == "my" %}
                {% for objective in objectives %}
                    {% include 'OKRBundle:Admin/Goal:objective.html.twig' with {obj: objective, no_children: true, no_interact: no_interact} %}
                {% endfor %}
            {% else %}
                {# objective #}
                {% include 'OKRBundle:Admin/Goal:objective.html.twig' with {obj: object} %}
            {% endif %}
        </ol>
    </div>
</div>

{# Modals #}
{# Edit objective #}
<!-- Modal -->
<div id="edit-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
            </div>
        </div>

    </div>
</div>

{# JS vars #}
<script>
    var baseRequestUrl = '{{ app.request.getSchemeAndHttpHost() }}';
    var objectType = '{{ objectType }}';

    {% if objectType != "my" %}
        var objectId = {{ object.id }};
        var goalId = {% if objectType == "objective" %}{{ object.Goal.id }}{% else %}{{ object.id }}{% endif %};
    {% else %}
        var objectId = null;
        var goalId = {{ goal.id }};
    {% endif %}
</script>