<li class="objective-holder" id="Obj_{{ obj.id }}" data-id="{{ obj.id }}">
    <div class="objective-wrapper">
        <div class="contenteditable item name" contenteditable="true" data-field="name"
             {% if no_interact is defined and no_interact == true %}
             data-toggle="tooltip" data-placement="top" title="Parent: {% if obj.parent %}{{ obj.parent.name }}{% else %}None{% endif %}"
             {% endif %}
        >{{ obj.name }}</div>
        <div class="pull-right wrapper-items">

            {# Interract #}
            {% if no_interact is not defined or no_interact == false %}
            <div class="block-item col-md-2">
                <div class="btn move-button btn-default btn-xs glyphicon glyphicon-move"
                     data-toggle="tooltip" data-placement="top" title="Move"
                ></div>
                <div class="btn zoom-button btn-default btn-xs glyphicon glyphicon-minus"
                     data-toggle="tooltip" data-placement="top" title="Toggle"
                ></div>
            </div>
            {% endif %}

            <div class="block-item col-md-1 objective-progress">
                {% include 'OKRBundle:Admin/Goal:progress.html.twig' with { progress: obj.progress, tooltip: "Quick View", link: url('admin_okr_objective_show', { id: obj.id }) } only %}
            </div>
            <div class="block-item col-md-2 result">
                {% for keyResult in obj.getFullKeyResults() %}
                    {% if loop.index0 < 2 %}
                        {% set extraClass = '' %}
                    {% else %}
                        {% set extraClass = 'extra' %}
                    {% endif %}

                    {% include 'OKRBundle:Admin/Goal:progress.html.twig' with { progress: keyResult.progress, tooltip: keyResult.getTooltip(obj), extraClass: extraClass, link: url('admin_okr_keyresult_edit', { id: keyResult.id }) } only %}

                    {% if loop.length > 2 and loop.last %}
                        <a class="btn btn-xs btn-default toggle-expanded" href="#">{{ loop.length }}</a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="block-item col-md-3 assignee">
                <select data-sonata-select2="false" data-field="assignee">
                    <option value="">-</option>
                    {% for user in userList %}
                        <option value="{{ user.id }}" {% if obj.assignee and obj.assignee.id == user.id %}selected{% endif %}>
                            {{ user.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="block-item contenteditable col-md-1 confident" contenteditable="true" data-field="confident">
                {{ obj.confident }}
            </div>
            <div class="block-item col-md-3 actions">
                <a target="_blank" data-toggle="tooltip" data-placement="top" title="Open Objective in New Tab"
                   href="{{ url('admin_okr_objective_show', { id: obj.id }) }}"
                   class="btn btn-default btn-xs glyphicon glyphicon-zoom-in"></a>
                <a href="{{ url('admin_okr_objective_edit', { id: obj.id }) }}"
                   data-toggle="tooltip" data-placement="top" title="Edit Key Results"
                   class="btn btn-default edit-objective-button btn-xs">KR</a>

                {% if no_interact is not defined or no_interact == false %}
                    <button class="btn btn-default add-object-button btn-xs glyphicon glyphicon-plus"
                            data-toggle="tooltip" data-placement="top" title="Add Objective"
                    ></button>
                    <button class="btn btn-danger delete-button btn-xs glyphicon glyphicon-trash"
                            data-toggle="tooltip" data-placement="top" title="Delete"
                    ></button>
                {% endif %}

            </div>
        </div>
    </div>

    {% if no_children is not defined or no_children == false %}
    <ol>
        {% for child in obj.children %}
            {% include 'OKRBundle:Admin/Goal:objective.html.twig' with {obj: child} %}
        {% endfor %}
    </ol>
    {% endif %}
</li>