{% if progress <= 0.2 %}
    {% set btnClass = "btn-warning" %}
{% elseif progress <= 0.6 %}
    {% set btnClass = "btn-info" %}
{% else %}
    {% set btnClass = "btn-success" %}
{% endif %}
<a target="_blank" href="{% if link is defined %}{{ link }}{% else %}#{% endif %}" class="progress btn btn-xs {{ btnClass }} {% if extraClass is defined %}{{ extraClass }}{% endif %}"
{% if tooltip is defined %}data-toggle="tooltip" data-placement="top" data-html="true" title="{{ tooltip }}"{% endif %}>{{ progress }}</a>