<a href="{{ path('admin_ph_testrun_list', { 'filter[testSuite][value]': object.id }) }}" class="btn btn-sm btn-default">View all runs</a>
{% if object.trelloTask %}
    <a href="{{ object.trelloTask }}" target="_blank" class="btn btn-sm btn-default">Trello Task</a>
{% endif %}