<?xml version="1.0" encoding="UTF-8"?>
<TestSuiteCollectionEntity>
    <description></description>
    <name>{{ name }}</name>
    <tag></tag>
    <executionMode>PARALLEL</executionMode>
    <testSuiteRunConfigurations>
        {% for filePath in filePaths %}
        <TestSuiteRunConfiguration>
            <configuration>
                <groupName>Custom</groupName>
                <profileName>default</profileName>
                <runConfigurationId>{{ browser }}</runConfigurationId>
            </configuration>
            <runEnabled>true</runEnabled>
            <testSuiteEntity>Test Suites/{{ filePath }}</testSuiteEntity>
        </TestSuiteRunConfiguration>
        {% endfor %}
    </testSuiteRunConfigurations>
</TestSuiteCollectionEntity>