{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    {% if object.passed %}
        {% set status = 'SUCCESS' %}
    {% else %}
        {% set status = 'FAILURE' %}
    {% endif %}


    {% if object.lastRun %}
        {% set url = path('test_run_view_report', {id: object.lastRun.id}) %}
    {% else %}
        {% set url = false %}
    {% endif %}

    {% if url %}
        <a href="{{ url }}" target="_blank" data-toggle="tooltip" title="{{ object.lastRun.tooltip }}">
    {% endif %}
    {% include '@PH/Admin/status_image.html.twig' with { status: status } only %}
    {% if object.lastRun %}
        {{ object.lastRun.createdAt | time_diff }}
    {% else %}
        No run found
    {% endif %}
    {% if url %}
        </a>
    {% endif %}
{% endblock %}