{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    {% if object.runUrl %}
        <a href="{{ object.runUrl }}" target="_blank">
            {{ object.status }}
        </a>
    {% else %}
        {{ object.status }}
    {% endif %}
{% endblock %}