{% set url = path('test_run_view_report', {id: object.id}) %}
<a href="{{ url }}" target="_blank" class="btn btn-sm btn-default">HTML Report</a>
<a href="{{ object.buildLogURL }}" target="_blank" class="btn btn-sm btn-default">Build logs</a>