{% extends '@SonataAdmin/empty_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <style type="text/css">
        .wrapper {
            position: static !important;
        }

        body {
            height: 100%;
        }

        .content {
            top: 60px;
            bottom: 0;
            left: 0;
            right: 0;
            position: absolute;
        }
    </style>
{% endblock %}

{% block sonata_head_title %}Test Report {{ testRun.testSuite.name }} - {{ testRun.code }}{% endblock %}

{% block body_attributes %}{% endblock %}


{% block sonata_page_content %}
    <div class="row">
        <div class="col-md-12">
            <h3>
                <a target="_blank" href="{{ path('admin_ph_testrun_show', { id: testRun.id }) }}">
                    {{ testRun.code }}
                </a> -
                <a target="_blank" href="{{ path('admin_ph_testsuite_show', { id: testRun.testSuite.id }) }}">
                    {{ testRun.testSuite.filePath }}
                </a> -
                {{ testRun.createdAt | time_diff }}

                <a class="btn btn-default" href="{{ reportHTMLUrl }}">Remove Iframe</a>
                <a class="btn btn-default" target="_blank" href="{{ reportConsoleLogUrl }}">Test Suite Log</a>
                <a target="_blank" class="btn btn-default" href="{{ testRun.buildLogURL }}">Build Logs</a>
            </h3>
        </div>
    </div>
    <div class="content">
        <iframe style="width: 100%; height: 100%;" src="{{ reportHTMLUrl }}"></iframe>
    </div>
{% endblock %}