<a href="{{ object.url }}" target="_blank" class="btn btn-sm btn-default">View on Jenkins</a>
<a href="{{ path('admin_ph_build_list', { 'filter[job][value]': object.id }) }}" class="btn btn-sm btn-default">Builds</a>