{% extends 'SonataAdminBundle::standard_layout.html.twig' %}


{% block content %}
    {{ parent() }}

    <h1>Assign Jobs to Service</h1>

    <section>
        <div class="row">
            <div class="col-sm-12">
                <form action="{{ path('admin_assign_jobs_to_service') }}" method="post">
                    {{ form_row(form.jobIds) }}
                    {{ form_row(form.service) }}

                    <input type="submit" value="Submit">
                    {{ form_rest(form) }}
                </form>
            </div>
        </div>
    </section>
{% endblock %}