{% extends '@App/TestCase/test_case.html.twig' %}
{% block sonata_head_title %}
    Admin - Test Case - Add New
{% endblock %}
{% block sonata_breadcrumb %}
    <div class="hidden-xs">
        <ol class="nav navbar-top-links breadcrumb">
            <li>
                <a href="/admin/dashboard">Dashboard</a>
            </li>
            <li>
                <a href="/admin/testcase">Test Case</a>
            </li>
            <li class="active"><span>Add New</span></li>
        </ol>
    </div>
{% endblock %}
{% block content_add_test_case %}
    <div class="row">
        <div class="col-sm-2">
            <a class="btn btn-info" href="/admin/testcase">
                <i class="fa fa-reply" aria-hidden="true"></i>
                Back
            </a>
        </div>
        <div class="col-sm-6">
            <div class="text-red text-bold">
                <span id="mess"></span>
            </div>
        </div>
    </div>
{% endblock %}
{% block content_test_case %}
    <div class="box box-primary" ng-controller="TestCaseAction">
        <div class="box-header with-border">
            <h3 class="box-title">{% trans from 'testcase' %}Test Case{% endtrans %}</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" name="myform" ng-init="disabled=false">
            <div class="box-body have-ft-sz">
                <div class="box-case-name">
                    <div class="form-group">
                        <label for="CaseID">Test Case ID *</label>
                        <input type="text" name="CaseID" id="CaseID" class="form-control" placeholder="Test Case ID" ng-model="TestCase.CaseID" required >
                    </div>
                    <div class="form-group">
                        <label for="Title">Title *</label>
                        <input type="text" name="Title" id="Title" class="form-control" placeholder="Title" ng-model="TestCase.Title" required >
                    </div>
                    <div class="form-group">
                        <label for="sltApplication">Application *</label>
                        <select class="select-status form-control" id="select-status" name="sltApplication" required ng-model="TestCase.Application">
                            <option value="">-= Application =-</option>
                            <option value="App1">Application 1</option>
                            <option value="App2">Application 2</option>
                            <option value="App3">Application 3</option>
                            <option value="App4">Application 4</option>
                            <option value="App5">Application 5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sltModules">Module *</label>
                        <select class="select-status form-control" id="select-status" name="sltModules" required ng-model="TestCase.Module">
                            <option value="">-= Module =-</option>
                            <option value="Mod1">Module 1</option>
                            <option value="Mod2">Module 2</option>
                            <option value="Mod3">Module 3</option>
                            <option value="Mod4">Module 4</option>
                            <option value="Mod5">Module 5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Description">Description</label>
                        <textarea type="text" name="Description" id="Description" class="form-control" placeholder="Description" ng-model="TestCase.Description"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Steps">Case Steps</label>
                </div>
                <div class="form-group">
                    <div ng-repeat="column in columns" class="col-lg-6 col-md-6">
                        <div class="box box-primary">
                            <div class="box-header with-border with-bg">
                                <h4 class="box-title">STEP {{ '{{ column.StepCase }}' }}</h4>
                                <div class="box-tools pull-right box-not-top">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-2x fa-caret-down"></i></button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label for="Description">Description</label>
                                            <textarea type="text" name="Description" id="Description" class="form-control" placeholder="Description" ng-model="column.Description"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label for="Expectation">Expectation</label>
                                            <textarea type="text" name="Expectation" id="Expectation" class="form-control" placeholder="Expectation" ng-model="column.Expectation"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label for="TestStatus">Testing Status</label>
                                            <select class="select-status form-control" name="TestStatus" id="select-status">
                                                <option value=""></option>
                                                <option value="Testing">Testing</option>
                                                <option value="Passed">Passed</option>
                                                <option value="Failed">Failed</option>
                                                <option value="Blocked">Blocked</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <a href="" class="link" ng-click="removeColumn($index)">Remove this step</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="addStep">
                    <a class="link" href="" ng-click="addNewColumn()">Add New Steps</a>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" class="btn btn-success" ng-click="myform.$valid && addCase()"><i class="fa fa-save"></i>&nbsp;Submit</button>
                <span class="btn btn-danger" ng-click="resetForm()"><i class="fa fa-refresh"></i>&nbsp;Cancel</span>
            </div>
        </form>
    </div>
{% endblock %}
