{% extends '@App/TestCase/test_case.html.twig' %}
{% block sonata_head_title %}
    Admin - Test Case - Edit {{ casename }}
{% endblock %}
{% block sonata_breadcrumb %}
    <div class="hidden-xs">
        <ol class="nav navbar-top-links breadcrumb">
            <li>
                <a href="/admin/dashboard">Dashboard</a>
            </li>
            <li>
                <a href="/admin/testcase">Test Case</a>
            </li>
            <li class="active"><span>Edit</span></li>
            <li class="active"><span>{{ casename }}</span></li>
        </ol>
    </div>
{% endblock %}
{% block content_add_test_case %}
    <div class="row">
        <div class="col-sm-2">
            <a class="btn btn-info" href="/admin/testcase">
                <i class="fa fa-reply" aria-hidden="true"></i>
                Back
            </a>
        </div>
        <div class="col-sm-6">
            <div class="text-red text-bold">
                <span id="mess"></span>
            </div>
        </div>
    </div>
{% endblock %}
{% block content_test_case %}
<div ng-controller="TestCaseEditU">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">{% trans from 'testcase' %}Edit : {% endtrans %} {{ casename }}</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" name="myform" ng-init="disabled=false">
            <div class="box-body have-ft-sz">
                <div class="box-case-name">
                    <div class="form-group">
                        <label for="CaseName">Test Case Name</label>
                        <input type="text" name="CaseName" id="CaseName" class="form-control" placeholder="Test Case Name" readonly="readonly" value="{{ casename }}">
                        <input type="text" id="caseid" name="caseid" value="{{ caseid }}" hidden="hidden">
                    </div>
                    <div class="form-group">
                        <label for="Link">Test Link</label>
                        <input type="text" name="Link" id="Link" class="form-control" placeholder="Test Link" value="{{ link }}" ng-blur="checkLink()">
                    </div>
                    <div class="form-group">
                        <label for="TestItems">Test Items</label>
                        <input type="text" name="TestItems" id="TestItems" class="form-control" placeholder="Test Items" value="{{ testitems }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="table">Test Case Step</label>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <th></th>
                            <th>Steps Case</th>
                            <th>Content</th>
                            <th>Piority</th>
                            <th>Status</th>
                            <th>Expects Results</th>
                            <th>Note</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="column in columns">
                            <td>
                                <span class="btn btn-danger" ng-if="$last" ng-click="removeColumn($index)"><i class="fa fa-close"></i></span>
                            </td>
                            <td>
                                <input type="text" class="form-control" name="StepCase" ng-model="column.StepCase" placeholder="Step Case" readonly="readonly">
                            </td>
                            <td>
                                <input type="text" class="form-control" name="Content" ng-model="column.Content" placeholder="Content" required>
                            </td>
                            <td>
                                <select class="select-status form-control" id="select-status" name="sltStatus" ng-model="column.Piority" required>
                                    <option value="">-= Piority =-</option>
                                    <option ng-repeat="pio in Piority" value="{{ '{{pio}}' }}">{{ '{{pio}}' }}</option>
                                </select>
                            </td>
                            <td>
                                <select class="select-status form-control" id="select-status" name="sltStatus" ng-model="column.Status" required>
                                    <option value="">-= Status =-</option>
                                    <option value="0">In Active</option>
                                    <option value="1">Active</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" class="form-control" name="ExpectsResults" ng-model="column.ExpectsResults" placeholder="Expects Results" required>
                            </td>
                            <td>
                                <input type="text" class="form-control" name="Note" ng-model="column.Note" placeholder="Note" required>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <span class="btn btn-primary" ng-click="addNewColumn()"><i class="fa fa-plus"></i>&nbsp;Add Steps</span>
                <button type="submit" class="btn btn-success" ng-click="myform.$valid && updateFunc()"><i class="fa fa-save"></i>&nbsp;Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
