{% extends '@App/standard_layout.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/styles/style.css') }}">
{% endblock %}
{% block sonata_head_title %}
    Admin - Test Case
{% endblock %}
{% block sonata_breadcrumb %}
    <div class="hidden-xs">
        <ol class="nav navbar-top-links breadcrumb">
            <li>
                <a href="/admin/dashboard">Dashboard</a>
            </li>
            <li>
                <a href="/admin/testcase">Test Case</a>
            </li>
            <li class="active"><span>List Test Case</span></li>
        </ol>
    </div>
{% endblock %}
{% block sonata_page_content %}
<div ng-app="myApp">
    <section class="content-header">
        <div class="sticky-wrapper">
            {% block content_add_test_case %}
                <div class="row">
                    <div class="col-sm-2">
                        <a class="btn btn-primary" href="/admin/testcase/addnew">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            Add new
                        </a>
                    </div>
                    {% if status == 'success' %}
                    <div class="col-sm-6">
                        <div class="alert alert-success alert-dismissible fixed-alert">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <span><i class="icon fa fa-check"></i> Action Successfuly !</span>
                        </div>
                    </div>
                    {% endif %}
                    <div class="col-sm-6" id="mess">
                        <div class="alert alert-success alert-dismissible fixed-alert">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <span><i class="icon fa fa-check"></i> Remove Successfuly !</span>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </section>
    <section class="content" id="session_test_case">
        <div class="row">
            <div class="col-sm-12">
                {% block content_test_case %}
                    <div ng-controller="TestCaseShowList">
                        <div class="box box-primary" ng-show="listNumber == 0">
                            <div class="box-body ">
                                <div class="info-box">
                                    <span class="info-box-icon bg-aqua"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">No result</span>
                                        <div class="progress">
                                            <div class="progress-bar" style="width: 0%"></div>
                                        </div>
                                        <span class="progress-description">
                                            <a class="sonata-action-element" href="/admin/testcase/addnew">
                                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                Add new
                                            </a>
                                        </span>
                                    </div><!-- /.info-box-content -->
                                </div>
                            </div>
                        </div>
                        <div class="box box-primary" ng-show="listNumber > 0">
                            <div class="box-body ">
                                <table class="table table-condensed table-responsive table-bordered">
                                    <thead>
                                        <th>ID</th>
                                        <th>Case Name</th>
                                        <th>Test Link</th>
                                        <th>Test Items</th>
                                        <th>Total Steps</th>
                                        <th>Create At</th>
                                        <th>Action</th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="dt in list">
                                            <td>{{ '{{ $index + 1 }}' }}</td>
                                            <td><a href="/admin/testcase/view/{{ '{{ dt.CaseId }}' }}">{{ '{{ dt.CaseName }}' }}</a></td>
                                            <td>{{ '{{ dt.Link }}' }}</td>
                                            <td>{{ '{{ dt.TestItems }}' }}</td>
                                            <td>{{ '{{ dt.TotalSteps }}' }}</td>
                                            <td>{{ '{{ dt.Created_At }}' }}</td>
                                            <td>
                                                <a href="/admin/testcase/view/{{ '{{ dt.CaseId }}' }}" class="btn btn-xs btn-info">
                                                    <i class="fa fa-eye"></i> &nbsp; View
                                                </a>
                                                <a href="/admin/testcase/edit/{{ '{{ dt.CaseId }}' }}" class="btn btn-xs btn-warning">
                                                    <i class="fa fa-edit"></i> &nbsp; Edit
                                                </a>
                                                <a href="" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#modal-default" data-name="{{ '{{ dt.CaseName }}' }}" data-id="{{ '{{ dt.CaseId }}' }}" ng-click="getCaseId($event)">
                                                    <i class="fa fa-remove"></i> &nbsp; Delete
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- modal -->
                        <div class="modal fade" id="modal-default" style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span></button>
                                        <h4 class="modal-title">Remove Case : {{ '{{ nameGet }}' }}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Bạn có chắc chắn muốn xóa bỏ case ?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" id="btnClose">Close</button>
                                        <button type="button" class="btn btn-primary" ng-click="removeCase()">Remove</button>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </section>
</div>
    {% block my_javascripts %}
        <script src="{{ asset('assets/js/angular.min.js') }}"></script>
        <script src="{{ asset('assets/js/ui-bootstrap-tpls-0.10.0.min.js') }}"></script>
        <script src="{{ asset('assets/js/app.js') }}"></script>
    {% endblock %}
{% endblock %}
