{% extends '@App/TestCase/test_case.html.twig' %}
{% block sonata_head_title %}
    Admin - Test Case - View {{ casename }}
{% endblock %}
{% block sonata_breadcrumb %}
    <div class="hidden-xs">
        <ol class="nav navbar-top-links breadcrumb">
            <li>
                <a href="/admin/dashboard">Dashboard</a>
            </li>
            <li>
                <a href="/admin/testcase">Test Case</a>
            </li>
            <li class="active"><span>View</span></li>
            <li class="active"><span>{{ casename }}</span></li>
        </ol>
    </div>
{% endblock %}
{% block content_add_test_case %}
    <a class="btn btn-info" href="/admin/testcase">
        <i class="fa fa-reply" aria-hidden="true"></i>
        Back
    </a>
    <a class="btn btn-warning" href="/admin/testcase/edit/{{ caseid }}">
        <i class="fa fa-edit" aria-hidden="true"></i>
        Edit
    </a>
{% endblock %}
{% block content_test_case %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">{% trans from 'testcase' %}View :  {% endtrans %} {{ casename }}</h3>
        </div>
        <!-- /.box-header -->
        <form role="form">
            <div class="box-body">
                <table class="table table-bordered table-condensed table-responsive have-ft-sz">
                    <tbody>
                        <tr></tr>
                        <tr class="sonata-ba-view-container">
                            <th>Case Name </th>
                            <td>{{ casename }}</td>
                        </tr>
                        <tr class="sonata-ba-view-container">
                            <th>Test Link </th>
                            <td>
                                <a href="{{ link }}">{{ link }}</a>
                            </td>
                        </tr>
                        <tr class="sonata-ba-view-container">
                            <th>Test Items </th>
                            <td>{{ testitems }}</td>
                        </tr>
                        <tr class="sonata-ba-view-container">
                            <th>Content </th>
                            <td>
                                <table class="table table-bordered table-condensed table-responsive">
                                    <thead>
                                        <th>Case Steps</th>
                                        <th>Content</th>
                                        <th>Piority</th>
                                        <th>Status</th>
                                        <th>Expects Results</th>
                                        <th>Note</th>
                                    </thead>
                                    <tbody>
                                    {% for x in full %}
                                        <tr>
                                            <td>{{ x.StepCase }}</td>
                                            <td>{{ x.Content }}</td>
                                            <td>{{ x.Piority }}</td>
                                            {% if x.Status == 1 %}
                                            <td>
                                                <label for="">Active</label>
                                            </td>
                                            {% endif %}
                                            {% if x.Status == 0 %}
                                                <td>
                                                    <label for="">In Active</label>
                                                </td>
                                            {% endif %}
                                            <td>{{ x.ExpectsResults }}</td>
                                            <td>{{ x.Note }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
{% endblock %}
