{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js"></script>
    <script src="{{ asset('bower_components/vkBeautify/vkbeautify.js') }}"></script>
    <script>
        var defaultJson = JSON.stringify({
            "name": "Funnel Name",
            "steps": [
                {
                    "name": "Event Name",
                    "rules": [
                        {
                            "props": "eventName",
                            "ops": "eq",
                            "value": "event_name"
                        },
                        {
                            "props": "params.param_code",
                            "ops": "eq",
                            "value": "param_value"
                        }
                    ]
                },
                {
                    "name": "Event 2 Name",
                    "rules": [
                        {
                            "props": "eventName",
                            "ops": "eq",
                            "value": "event_name_2"
                        },
                        {
                            "props": "params.param_2_code",
                            "ops": "eq",
                            "value": "param_value"
                        }
                    ]
                }
            ]
        });

        $(function() {
            var field = $('textarea[name$="[content]"]');
            field.hide();
            field.after('<div id="json-editor"></div>');
            var editor = ace.edit('json-editor');
            var fieldValue = field.val();

            if (!fieldValue) {
                fieldValue = defaultJson;
            }

            var prettyCode;
            try {
                prettyCode = vkbeautify.json(fieldValue);
            } catch (e) {
                prettyCode = fieldValue;
            }
            editor.getSession().setValue(prettyCode);
            editor.getSession().setMode("ace/mode/json");
            editor.getSession().setTabSize(4);
            editor.setOptions({
                maxLines: 30,
                minLines: 30
            });

            editor.getSession().on('change', function () {
                var code = editor.getSession().getValue();
                try {
                    var minify = vkbeautify.jsonmin(code);
                } catch (e) {
                    minify = code;
                }

                field.val(minify);
            });
        });
    </script>
{% endblock %}