{% extends 'AppBundle::standard_layout.html.twig' %}

{# users list #}
{% set userList = get_user_list() %}

{# Set var for design #}
{% set objectType = 'my' %}

{% block sonata_head_title %}
    {{ user.name }}'s Objectives
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('assets/js/jquery-ui-1.12.1.custom/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/styles/goal_design.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/js/jquery-ui-1.12.1.custom/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.mjs.nestedSortable.js') }}"></script>
    <script src="{{ asset('assets/js/js.cookie-2.2.0.min.js') }}"></script>
    <script src="{{ asset('bundles/okr/goal_design.js') }}"></script>
{% endblock %}

{% block sonata_admin_content %}
    {% block notice %}
        {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
    {% endblock notice %}

    <div class="box box-primary">
        <div class="box-header">
            <h4 class="box-title">
                User Objectives
            </h4>
        </div>
        <div class="box-body table-responsive no-padding">
            <table class="table">
                <tbody>
                <tr class="sonata-ba-view-container">
                    <th>User</th>
                    <td class="selector-container"><select id="user-select">
                            {% for cuser in userList %}
                                <option value="{{ cuser.id }}" {% if cuser.id == user.id %}selected{% endif %}>{{ cuser.name }}</option>
                            {% endfor %}
                        </select></td>
                </tr>
                <tr class="sonata-ba-view-container">
                    <th>Goal</th>
                    <td>
                        <a target="_blank" href="{{ url('admin_okr_goal_show', {id: goal.id}) }}">
                            {{ goal.name }}
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        $(function() {
            $('#user-select').change(function() {
                userId = $(this).val();
                window.location.href = '{{ app.request.getBaseURL() }}/okr/objective/user/{{ goal.id }}/' + userId;

                $('.selector-container').html('Loading...');
            });
        });
    </script>

    {% include '@OKR/Admin/Goal/design.html.twig' %}
{% endblock %}