{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    {% set listStatus = get_list_status(object, type, env) %}
    {% if listStatus.isAllSuccess %}
        {% set status = 'SUCCESS' %}
    {% else %}
        {% set status = 'FAILURE' %}
    {% endif %}
    {% if object is instanceof('\\PHBundle\\Entity\\Service') %}
        {% if type == 'code_build' %}
            {% set url = path('admin_ph_job_list', { 'filter[services][value]': object.id, 'filter[type][value]': type, 'filter[env][value]': env }) %}
        {% else %}
            {% set url = path('admin_ph_testsuite_list', { 'filter[service][value]': object.id, 'filter[env][value]': env, 'filter[active][value]': true }) %}
        {% endif %}
    {% elseif object is instanceof('\\PHBundle\\Entity\\Repo') %}
        {% set url = path('admin_ph_job_list', { 'filter[repos][value]': object.id, 'filter[type][value]': type, 'filter[env][value]': env }) %}
    {% else %}
        {% set url = '#' %}
    {% endif %}

    <a href="{{ url }}" title="{{ type }} | {{ env }}">
        {% include '@PH/Admin/status_image.html.twig' with { status: status } only %}  {{ listStatus.success }} / {{ listStatus.total }}
    </a>
{% endblock %}